services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_ENV: REDIS_TEST
        PORT: ${PORT}
        EMAIL_USER: ${EMAIL_USER}
        EMAIL_PASS: ${EMAIL_PASS}
        REDIS_URL: ${REDIS_URL}
    image: rve-backend
    env_file:
        - .env.dev
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
      - redis

  redis:
    image: redis:7.0
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis:/data

volumes:
  redis:
    driver: local
